### Type Casting
- Convert user_input variable into integer and print the value and type
- Convert sales amount to string and print this message `Total Sales : $1250.75`
- Write a Python program that takes the string '123$', remove the dollar sign, and convert the remaining value to an integer

- Given the tracking number 'JOR-2023-5678', write a Python program that uses string slicing to extract the shipment year and the unique ID, then print them.

In [ ]:
user_input = "123.45"
sales_amount = 1250.75
price = '123$'
tracking_number = "JOR-2023-5678"

In [8]:
#Convert user_input variable into integer and print the value and type
user_input = input('Enter a number: ')
int_user_input = int(float(user_input))
print(int_user_input, type(int_user_input))

Enter a number: 123.45
123 <class 'int'>

In [10]:
#Convert sales amount to string and print this message Total Sales : $1250.75
sales_amount = input('enter sales amount ')
str_sales_amount = str(sales_amount)
print(f"Total Sales :{str_sales_amount}")

enter sales amount $1250.75
Total Sales :$1250.75

In [14]:
#Write a Python program that takes the string '123$', remove the dollar sign, and convert the remaining value to an integer
from os import replace
num = input("Enter a number: ")
num = num.replace("$", "")
int_num = int(num)
print (int_num)

Enter a number: 123$
123

In [18]:
#Given the tracking number 'JOR-2023-5678', write a Python program that uses string slicing to extract the shipment year and the unique ID, then print them.
tracking_number = input("Enter a tracking number: ")
tracking_number = tracking_number.split("-")
print(f"shipment year: {tracking_number[1]}  the unique ID :{tracking_number[2]}" )

Enter a tracking number: JOR-2023-5678
shipment year: 2023  the unique ID :5678

###  Arithmetic Operators
Calculate these metrics :
1. **unprocessed records** : how many records are still left to process?
2. **completion rate (%)** : what percentage of the total file has been processed?
3. **file size in GB** : convert the file size from megabytes to gigabytes (1024 MB is 1 GB)
4. **number of full batches**: how many complete batches can you form from the total records, where each batch must be **exactly the full size?**

In [20]:
record_count = 25750       # Total number of records in the file
batch_size = 500           # Each batch can process this many records
processed_records = 750    # Number of records already processed
file_size_mb = 2048        # File size in megabytes

In [24]:
#1. unprocessed records
unprocessed_records =  record_count - processed_records
print("Unprocessed Records:", unprocessed_records)


# 2. Completion Rate (%)
completion_rate = (processed_records /record_count ) * 100
completion_rate = round(completion_rate, 2)
print("Completion Rate:" , completion_rate , "%")

# 3. File Size in GB
file_size_gb = file_size_mb / 1024
print(f"File Size in GB: {file_size_gb}")

# 4. Number of Complete Batches
complete_batches = record_count//batch_size
print("Number of Complete Batches:", complete_batches)

Unprocessed Records: 25000
Completion Rate: 2.91 %
File Size in GB: 2.0
Number of Complete Batches: 51

### Comparison Operators
Write boolean expressions to check if:
1. Check if there is enough data to process
  - 💡 does the actual number of rows meet or exceed the minimum required?
2. Check if the error rate is acceptable
  - 💡 is the current error rate within the allowed maximum?
3. Check if processing finished within the time limit
  - 💡 compare the processing time against the maximum allowed
4. Check if all of the above conditions are true
  - 💡use the and operator to combine multiple Boolean expressions

In [25]:
min_required_rows = 1000
actual_rows = 1250
max_error_rate = 0.05
current_error_rate = 0.03
processing_time = 120
max_time_allowed = 300

In [29]:
# 1. Enough data?
has_enough_data = actual_rows >= min_required_rows
print("Enough data to process:", has_enough_data)
# 2. Error rate acceptable?
error_rate_ok = current_error_rate <= max_error_rate
print("Error rate acceptable:", error_rate_ok)
# 3. Finished in time?
finished_in_time = processing_time <= max_time_allowed
print("Finished within time limit:", finished_in_time)
# 4. All conditions met?
all_conditions_met = has_enough_data and error_rate_ok and finished_in_time
print("All conditions met:", all_conditions_met)

Enough data to process: True
Error rate acceptable: True
Finished within time limit: True
All conditions met: True

### String manipulations

In [1]:
messy_data = "    DaTa ANALYTICS @ sitech  "

## 1. remove extra spaces at the beginning and end of the string
messy_data_1 = messy_data.strip()

## 2. replace the @ symbol with the word "at"
messy_data_2 = messy_data_1.replace("@", "at")

## 3. change the string so that each word starts with an uppercase letter
messy_data_3 = messy_data_2.title()

print(messy_data_3)

## Expected output : Data Analytics At Sitech

Data Analytics At Sitech

### Lists - Sequential Data

In [43]:
customer_ids = [1001, 1002, 1003, 1004]

# 1. print the number of customer ids in above list
print("Total customers", len(customer_ids) )

# 2. Adding new customer 1005 to above list
customer_ids.append(1005)

# 3. add multiple new customer IDs [1006, 1007] at once to the existing list
customer_ids.extend([1006 , 1007 ])
print( customer_ids )

## Accessing data
# 1. first customer
print(f"First customer: {customer_ids[0]}")

# 2. last_customer
print(f"Last customer: {customer_ids[-1]}")

# last 3 customers
print(f"Last 3 customers: {customer_ids[-3:]}")

Total customers 4
[1001, 1002, 1003, 1004, 1005, 1006, 1007]
First customer: 1001
Last customer: 1007
Last 3 customers: [1005, 1006, 1007]

In [48]:
sales_data = [100, 250, 175, 300, 225]

# 1. What is the total of all sales?

print("Total Sales" , sum(sales_data) )

# 2. What is the highest sale recorded?
print("Highest Sale", max(sales_data) )

# 3. What is the average sale value?
Average_Sale= sum(sales_data)/ len(sales_data)
print("Average Sale",Average_Sale  )

Total Sales 1050
Highest Sale 300
Average Sale 210.0

In [54]:
## Parse and Process CSV-like Strings
full_record = "Ahmed,Mohammed, Data Analyst, 3, Data Dept"

## 1. Split the string into separate values using the comma as a separator? (Use a method that turns a string into a list based on a delimiter.)
spilt_full_record = full_record.split(",")
print(spilt_full_record)
## 2. After splitting, how do you get just the first name?
print("the first name is : " ,spilt_full_record[0] )
## 3. Get the number of years of experience as an integer?
num_of_experience = spilt_full_record[-2]
num_of_experience = int(num_of_experience)
print ("number of years of experience" ,num_of_experience )
## 4. Join the first and last name with a space instead of a comma?
print ("the first and last name :" ,spilt_full_record[0] , "" , spilt_full_record[1])

['Ahmed', 'Mohammed', ' Data Analyst', ' 3', ' Data Dept']
the first name is :  Ahmed
number of years of experience 3
the first and last name : Ahmed  Mohammed

### Tuples - Immutable Records

You are given a tuple representing a database connection configuration, can you extract the individual values (the host, port, and database name) from the tuple and store them in separate variables?

In [59]:
db_config = ("localhost", 5432, "analytics_db")
the_host = db_config[0]
port = db_config[1]
database_name = db_config[2]
print (f"the host : {the_host} \n port : {port} \n database name : {database_name} ")
## separate variables need to hold the host, port and database_name

the host : localhost
 port : 5432
 database name : analytics_db

### Dictionaries - Key-Value Data

In [66]:
customer_sales_record = {
    "id": 1001,
    "name": "Ahmed Mohammed",
    "email": "ahmed@email.com",
    "purchases": 15,
    "total_spent": 1250.75
}

## 1. get the customer's name from the dictionary
print("the customer's name : " , customer_sales_record["name"] )

## 2. safely access "total_spent" or return 0 if it doesnt exist.
customer_sales_record.get("total_spent", 0 )

## 3. add a new key "last_login" with the value "2025-08-07"
customer_sales_record["last_logi"]= "2025-08-07"
print(customer_sales_record)
## 4. increase the customers purchase count by 1
customer_sales_record["purchases"] +=1
print(customer_sales_record["purchases"])

the customer's name :  Ahmed Mohammed
{'id': 1001, 'name': 'Ahmed Mohammed', 'email': 'ahmed@email.com', 'purchases': 15, 'total_spent': 1250.75, 'last_logi': '2025-08-07'}
16

In [67]:
sales_by_region = {
    "North": 50000,
    "South": 45000,
    "East": 60000,
    "West": 55000
}

## 1. calculate the total sales across all regions
total_sales = sum(sales_by_region.values())
print("Total Sales:", total_sales)

## 2. get a list of all the region names (keys)
region_names = list(sales_by_region.keys())
print("Region Names:", region_names)

Total Sales: 210000
Region Names: ['North', 'South', 'East', 'West']

#### You are given the string "Data Analyst" Write a Python program that counts how many times each character appears in the string and stores the results in a dictionary.

Expected Output : `{'D': 1, 'a': 3, 't': 2, ' ': 1, 'A': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1}`

In [70]:
my_str = "Data Analyst"
my_dictionary = { 'D' : 0 , 'a' : 0 , 't' : 0 , ' ' : 0 , 'A' : 0 , 'n' : 0 , 'l' : 0 , 'y' : 0 , 's' : 0 }
for char in my_str :
  my_dictionary[char] += 1
print(my_dictionary)

{'D': 1, 'a': 3, 't': 2, ' ': 1, 'A': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1}

#### Write a function `clean_numeric_column(data_list`) that takes a list of mixed data types representing a database column
1. Converts valid numbers (int, float, numeric strings) to float
2. Replaces invalid values with None
3. Returns a tuple: (cleaned_list, count_of_invalid_values)
4. Handles edge cases like empty strings, "N/A", whitespace

** Expected output **
```
Cleaned: [1.0, 2.5, None, None, 3.7, None, None, 0.0, 0.0]
Invalids: 4
```

In [74]:
data_list = [1, "2.5", "invalid", "", "  3.7  ", None, "N/A", 0, "0.0"]

In [22]:
def clean_numeric_column(data_list):
  cleaned_list = []
  count_of_invalid_values = 0
  for i in data_list:
    if type(i) is int or type(i) is float  :
      i = float(i)
      cleaned_list.append(i)
    elif type(i) is str:
      try :
        i = float(i)
        cleaned_list.append(i)
      except ValueError:
        cleaned_list.append("none")
        count_of_invalid_values += 1
  return (cleaned_list, count_of_invalid_values)

clean_numeric_column([1.0, 2.5, None, None, 3.7, None, None, 0.0, 0.0])

([1.0, 2.5, 3.7, 0.0, 0.0], 0)

#### Write a Python function `clean_column_names(column_list)` that:
1. Takes a list of database column names (strings)
2. Removes leading/trailing whitespace
3. Converts to lowercase
4. Replaces spaces and special characters with underscores
5. Returns the cleaned list

**Example input**: `[" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "]`

**Expected output:** *["first_name", "email_address", "phone_number", "date_created"]*

In [ ]:
column_names = [" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "]

In [21]:

def clean_column_names(column_list) :
  import re
  cleaned_list = []
  for i in column_list:
    i = i.strip()
    i = i.lower()
    i = re.sub(r'[^a-zA-Z0-9_]', '_', i)
    cleaned_list.append(i)
  return cleaned_list

clean_column_names([" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "])

['first_name', 'email_address', 'phone_number', 'date_created']

Write a Python function `validate_email_list(email_list)` that:
1. Takes a list of email strings
2. Returns a dictionary with two keys: "valid" and "invalid"
3. Basic email validation: contains exactly one "@" and ends with a domain (contains .)
4. Uses loops and conditionals to categorize emails

**Example Input:** ["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"]

**Expected Output :** {'valid': ['user@domain.com', 'good@example.org'], 'invalid': ['invalid.email', 'test@', '@domain.com']}

In [ ]:
emails = ["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"]

In [26]:
def validate_email_list(email_list) :
  valid_emails = []
  invalid_emails = []
  for i in email_list :
    if "@" in i and "." in i :
      if i.index("@") < i.index(".") and i.index("@") != 0 and i.index(".") != len(i)-1 :
        valid_emails.append(i)
      else :
        invalid_emails.append(i)
    else :
      invalid_emails.append(i)
  return {"valid" : valid_emails , "invalid" : invalid_emails}

validate_email_list(["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"])

{'valid': ['user@domain.com', 'good@example.org'],
 'invalid': ['invalid.email', 'test@', '@domain.com']}

#### Given these customer ID list from different data sources, Write a function `analyze_customer_overlap(source_a, source_b)` that returns a **dictionary** containing:

1. Total unique customers across all sources
2. Customers present in all sources (common customers)
3. Customers unique to each source


**Expected Output**
```
All unique customers: 7 total
Common customers: {1003, 1004, 1005}
Unique to A: {1001, 1002}
Unique to B: {1006, 1007}
```

💡: Use set() and operations like &, |, and - to compare customer lists.

In [ ]:
customer_ids_source_a = [1001, 1002, 1003, 1004, 1005]
customer_ids_source_b = [1003, 1004, 1005, 1006, 1007]

In [28]:
def analyze_customer_overlap(source_a, source_b):
  total_unique_customers = len(set(source_a + source_b))
  common_customers = set(source_a) & set(source_b)
  unique_to_a = set(source_a) - set(source_b)
  unique_to_b = set(source_b) - set(source_a)
  return {
    "Total unique customers": total_unique_customers,
    "Common customers": common_customers,
    "Unique to A": unique_to_a,
    "Unique to B": unique_to_b
  }

analyze_customer_overlap([1001, 1002, 1003, 1004, 1005], [1003, 1004, 1005, 1006, 1007])

{'Total unique customers': 7,
 'Common customers': {1003, 1004, 1005, 1006, 1007},
 'Unique to A': {1001, 1002},
 'Unique to B': {1006, 1007}}

Write a python script to
1. count how many files are in each immediate parent directory (the last folder before the file name).
2. Print the counts in the format:
```
raw: 2
processed: 1
logs: 1
```

In [3]:
filepaths = [
    "/data/raw/customers1.csv",
    "/data/raw/customers2.csv",
    "/data/raw/customers3.csv",
    "/data/raw/customers4.csv",
    "/data/raw/customers5.csv",
    "/data/processed/orders1.parquet",
    "/data/processed/orders2.parquet",
    "/data/processed/orders3.parquet",
    "/logs/20250101.log"
]

In [7]:
filepaths = [
    "/data/raw/customers1.csv",
    "/data/raw/customers2.csv",
    "/data/raw/customers3.csv",
    "/data/raw/customers4.csv",
    "/data/raw/customers5.csv",
    "/data/processed/orders1.parquet",
    "/data/processed/orders2.parquet",
    "/data/processed/orders3.parquet",
    "/logs/20250101.log"
]

counts = {}

for path in filepaths:
    parent = path.strip("/").split("/")[-2]  # آخر مجلد قبل اسم الملف
    counts[parent] = counts.get(parent, 0) + 1

for folder, count in counts.items():
    print(f"{folder}: {count}")

raw: 5
processed: 3
logs: 1

#### You are given a dictionary pipeline_metadata that contains metadata for a data pipeline, including its name, schedule, sources, destinations, transformations, and run history.

Write a script that:
1. Prints the pipeline name and version using f-strings.
2. Prints the schedule.
3. Joins and prints the list of sources and destinations as comma-separated strings.
4. Extracts and prints only the names of enabled transformations (those set to True) from the nested "transformations" dictionary.
5. Calculates and prints the total successful records processed from run_history

In [5]:
pipeline_metadata = {
    "name": "customer_data_pipeline",
    "version": "2.1.0",
    "schedule": "daily",
    "sources": ["mysql_db", "api_endpoint", "csv_files"],
    "destinations": ["data_warehouse", "analytics_db"],
    "transformations": {
        "data_cleaning": True,
        "deduplication": True,
        "validation": False,
        "enrichment": True,
        "aggregation": False
    },
    "run_history": [
        {"date": "2024-01-01", "status": "success", "records_processed": 10000},
        {"date": "2024-01-02", "status": "failed", "records_processed": 0},
        {"date": "2024-01-03", "status": "success", "records_processed": 12000}
    ]
}

In [6]:
print(f"Pipeline: {pipeline_metadata['name']}, Version: {pipeline_metadata['version']}")
print("Schedule:", pipeline_metadata["schedule"])

print("Sources:", ", ".join(pipeline_metadata["sources"]))
print("Destinations:", ", ".join(pipeline_metadata["destinations"]))

enabled = [t for t, v in pipeline_metadata["transformations"].items() if v]
print("Enabled Transformations:", ", ".join(enabled))

total_success = sum(run["records_processed"] for run in pipeline_metadata["run_history"] if run["status"] == "success")
print("Total Successful Records Processed:", total_success)

Pipeline: customer_data_pipeline, Version: 2.1.0
Schedule: daily
Sources: mysql_db, api_endpoint, csv_files
Destinations: data_warehouse, analytics_db
Enabled Transformations: data_cleaning, deduplication, enrichment
Total Successful Records Processed: 22000

#### Write a Python function `generate_date_list(start_date, end_date)` that:
1. Accepts two strings in "YYYY-MM-DD" format
2. Returns a list of all dates from start_date to end_date (inclusive), as strings
3. Uses only the standard library (datetime, timedelta)

In [36]:
from datetime import datetime, timedelta

def generate_date_list(start_date, end_date):
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    date_list = []
    current_date = start
    while current_date <= end:
        date_list.append(current_date.strftime("%Y-%m-%d"))
        current_date += timedelta(days=1)
    return date_list
generate_date_list("2025-08-10", "2025-08-14")

['2025-08-10', '2025-08-11', '2025-08-12', '2025-08-13', '2025-08-14']

In [30]:
# dictionary to store company data


company = {
    "employees": {
        "Ali": {
            "age": 30,
            "department": "HR",
            "skills": ["communication", "recruitment"]},
        "Mohammed": {
            "age": 35,
            "department": "IT",
            "skills": ["python", "networking"]}
    },
    "departments": ["HR", "IT", "Finance"],
    "locations": ["Amman", "Dubai"]
}

# how to access the skills for Ali
# add communication skill for mohammad
# change the department for mohammad to Finance

In [31]:
company["employees"]["Ali"]["skills"]
company["employees"]["Mohammed"]["skills"].append("communication")
company["employees"]["Mohammed"]["department"] = "Finance"
print(company)

{'employees': {'Ali': {'age': 30, 'department': 'HR', 'skills': ['communication', 'recruitment']}, 'Mohammed': {'age': 35, 'department': 'Finance', 'skills': ['python', 'networking', 'communication']}}, 'departments': ['HR', 'IT', 'Finance'], 'locations': ['Amman', 'Dubai']}